/* Movies */
.cartImagActor {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

.image {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-radius: 6px;
}

.cartComent {
    width: 300px;
    height: auto;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.comTitle {
    width: 120px;
    height: 40px;
    padding: 2px;
    padding-right: 2px;
    margin: 2px;
    margin-right: 2px;
    margin-left: 10px;
    display: flex;
    text-align: left;
    align-items: left;
}

.comTitles {
    width: 160px;
    height: 40px;
    padding: 2px;
    padding-right: 2px;
    margin: 2px;
    margin-right: 2px;
    margin-left: 10px;
    display: flex;
    text-align: left;
    align-items: left;
}

.comIte {
    width: 300px;
    height: 40px;
    padding: 2px;
    padding-right: 5px;
    margin: 2px;
    margin-right: 5px;
    margin-left: 10px;
    display: flex;
    text-align: left;
    align-items: left;
}

.details {
    font-size: 16px;
}

.details p {
    margin: 5px 0;
}

.active {
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    border-radius: 10px;
}

.item {
    width: 250px;
    padding: 2px;
    margin: 2px;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    color: rgb(14, 15, 15);
    border: 1px solid black;
    border-color: black;
    border-radius: 10px;
}

.text {
    padding: 2px;
    margin: 2px;
    color: black;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
}