/* MovieReviews */
.icon {
    width: 60px;
    height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text {
    font-size: 18px;
}

.error {
    font-size: 18px;
    font-weight: 600;
}

.buttonIcon {
    width: 120px;
    height: 30px;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.icons {
    width: 50px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    color: rgb(255, 0, 34);
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: right;
}