/* style */

.cartSection {
    width: 1200px;
    height: 200px;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

.cartTitle {
    width: 300px;
    height: 50px;
    padding: 2px;
    margin: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.cartComent {
    width: 300px;
    height: auto;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.genresCart {
    width: 300px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}