/* MovieCast */
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartImagActor {
    display: flex;
    gap: 10px;
}

.cartComent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.text {
    font-size: 18px;
}

.comIte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 138px;
    background-color: gray;

}

.icon {
    width: 100%;
    height: auto;
}

.error {
    font-size: 18px;
    font-weight: 600;
}